body {
    font-family: 'Roboto Mono',monospace;
    text-align:center;
    background-image: url('https://batatacode.s3.us-east-2.amazonaws.com/modulo04/fundo.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: rgba(255, 0, 0, 0.3);
  }

  .container {
    text-align: center;
    padding: 20px;
  }

  .div {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 10 0 5px;
    text-align: left;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 10px;
    text-align: left;
  }
  
